<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <style>
     .outer {
         background-color: black;
         color:white;
         width:900px;
         height:800px;
         margin:auto;
         margin-top:50px;
     }
     .detailArea{
         border:1px solid white;
     }
     .detailArea td {
        border:1px solid white;
     }
 </style>
</head>
<body>
  <div class="outer">
      <br>
      <h2>사진 상세조회</h2>
      <br>

      <table class="detailArea" align="center">
        <tr>
            <td width="70">제목</td>
            <td colspan="3" width="600">게시글 제목</td>
        </tr>
        <tr>
            <td>작성자</td>
            <td>user01</td>
            <td>작성일</td>
            <td>2020-10-20</td>
        </tr>
        <tr>
            <td>내용</td>
            <td colspan="3">
                <p style="height:50px">내용이 들어와야함</p>
            </td>
        </tr>
        <tr>
            <td>대표사진</td>
            <td colspan="3" align="center">
               
                    <img src="/실제 서버에 업로드될 이름." width="500" height="300" alt="">
                
            </td>
            
        </tr>
        <tr>
            <td>상세사진</td>
            <td colspan="3" align="center">
                <img src="/실제 서버에 업로드될 이름." width="200" height="150" alt="">
                <img src="/실제 서버에 업로드될 이름." width="200" height="150" alt="">
                <img src="/실제 서버에 업로드될 이름." width="200" height="150" alt="">
            </td>
        </tr>
      </table>

  </div>
</body>
</html>